.one-columns
{
height:40px;
width:45px;
float:left;
position:relative;
padding-left:60px;
}

.row
{
background-color:#001652 !important;
display:inline;

}
.eight-columns
{
padding-left:150px;
font-size:15px;
color:#ffffff;
}

.loader 
{
 border-top: 16px solid blue;
 border-right: 16px solid green;
 border-bottom: 16px solid red;
 border-left: 16px solid pink;
}